fastapi[standard]
uvicorn[standard]
python-dotenv
python-multipart
pypdf
pdfplumber
google-genai
langchain
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-openai
langchain-qdrant
qdrant-client
